body {
  font-family: 'Raleway', sans-serif; 
  color: white;
}

h2 {
  font-size: 25px; 
  text-align: center;
  padding: 10px; 
}

h1 {
text-align: center; 
text-transform: capitalize;
}

h4 {
  text-align: center;
}

img {
  display: block;
margin: 0px auto;
}

ul {
  list-style: none;
}

button {
  position: relative;
  top: 0px; 
  left: 40px;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}

.form-control {
  position: relative;
  left: 40px; 
 padding:10px;
}

.container {
  max-width: 500px;
      border: 1px solid #000000;
   background-image: linear-gradient(#b36e9b, #99507d);
   border-radius: 25px;
   display: block;
   margin: 10px auto; 
}

.date {
  font-size: x-small;
}

.temp {
  font-weight: bold;
  float: right;

}

.temp li {
  padding: 7px;
}

.day {
  font-weight: bold;
}