
body {
  font-family: 'Raleway', sans-serif; 
  color: white;
}

h2 {
  font-size: 25px; 
  text-align: center;
  padding: 10px; 
}

h1 {
text-align: center; 
text-transform: capitalize;
}

h4 {
  text-align: center;
}

img {
  display: block;
margin: 0px auto;
}

li {
  list-style:none;
 position: relative;
 left: 170px; 
}

button {
  position: relative;
  top: 0px; 
  left: 40px;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}

.form-control {
  position: relative;
  left: 40px; 
 padding:10px;
}

.container {
  max-width: 700px;
      border: 1px solid #000000;
   background-image: linear-gradient(#b36e9b, #99507d);
   border-radius: 25px;
   display: block;
   margin: 10px auto; 
}


.temp {
  font-weight: bold;
  float: right;

}



.day {
  font-weight: bold;
  text-align: center;
  
}

.weather-metrics {
position: relative; 
left: 50px; 
}

.weather-forecast {
  margin-top: 20px; 
}

.temp-max {
  text-align: center;
  margin-bottom: 5px; 
  font-size: 16px;
}

  .temp-pic {
    width: 80px; 
  
  }